.toolbar {
  mat-toolbar {
    background: #fff;
    padding: 0 40px;
    .title {
      font-size:20px
    }

    .example-spacer {
      flex: 1 1 auto;
      margin: auto 0.4rem;
    }

    .search-bar {
      margin: auto;
    }
  }
}
